<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <img src="/assets/mandala.svg" alt="" center/>
    </ion-card-header>
    <ion-card-content>
      <p>
 Check out some of the resources below for next steps.
      </p>
    </ion-card-content>
  </ion-card>


<!-- Fill -->

  <ion-back-button>back</ion-back-button>
  <ion-button expand="block" fill="outline" color="light">
    Vajra dance
  </ion-button>
  <ion-button expand="block" fill="outline" color="light">Vajra dance 2</ion-button>
  <ion-button expand="block" fill="outline" color="light">Vajra dance 3</ion-button>

    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>

</ion-content>
