<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Výběr skladby
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <img src="/assets/mandala.svg" alt="" center/>
    </ion-card-header>
    <ion-card-content>
      <p>
 Vyber jeden z nížeuvedených tanců.
      </p>
    </ion-card-content>
  </ion-card>


<!-- Fill -->

<ion-list inset="true">
  <!-- ion-item  [href]="'/detail?id=' + item.id" detail="true" *ngFor="let item of items" -->
  <ion-button  (click)="zobrPage(item)" detail="true" 
              *ngFor="let item of items; let idx = index">
      {{item.title}}
  </ion-button>
</ion-list>

</ion-content>
